* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: tahoma, "microsoft yahei";
    color: #555;
}

.w {
    margin: 0 auto;
    width: 1190px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #858585;
}

a {
    text-decoration: none;
    color: #858585;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    /*取消轮廓线 蓝色的*/
    outline: none;
}